@media (max-width: 1390px) {
  .container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .top {
    &__box-img {
      max-width: 680px;
      margin-left: 610px;
    }
  }

  .top-box {
    max-width: 800px;
    margin: 0 auto;
  }

  .medical {
    &__top-content {
      max-width: 500px;
      margin-left: 255px;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .top {
    &__box-img {
      max-width: 590px;
      margin-left: 510px;
      top: 200px;
    }

    &__text {
      margin-bottom: 110px;
    }

    &__discount {
      max-width: 380px;
    }

    &__discount-program {
      order: -1;
      margin-left: 6px;
    }

    &__discount-img {
      order: -1;
    }

    &__discount-btn {
      margin: 0 auto;
    }
  }
  .top-box{
    &__title{
      text-align: center;
    }
  }



  .program {
    &__inner {
      margin: 0 auto;
      max-width: 888px;
    }
  }

  .ration-slider {
    max-width: 800px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .top {
    &__box-img {
      max-width: 550px;
      margin-left: 435px;
    }

    &__text {
      max-width: 500px;
    }
  }

  .medical {
    &__procent-item {
      width: 280px;
    }

    &____slider {
      max-width: 800px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 800px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header {
    box-shadow: none;

    &__burger-menu {
      display: block;
      cursor: pointer;
    }

    &__social-icon {
      display: none;
    }

    &__info {
      display: none;
    }

    &__btn-green {
      display: block;
      border: none;
      padding: 0;
      background: transparent;
      cursor: pointer;
    }

    &__btn-white {
      display: none;
    }
  }

  .top {
    &__box-img {
      max-width: 530px;
      margin-left: 350px;
    }

    &__text {
      max-width: 400px;
    }

  }

  .ration-slider {
    max-width: 700px;
  }
}

@media (max-width: 964px) {
  .container {
    max-width: 660px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    font-size: 36px;
  }

  .top {
    &__title {
      max-width: 500px;
    }

    &__text {
      color: #828282;
    }

    &__box-img {
      max-width: 320px;
      margin-left: 340px;
      top: 250px;
    }

    &__discount {
      max-width: 725px;
      gap: 6px;
    }

    &__btn {
      margin: 0;
      padding: 25px 25px;
    }

    &__discount-program {
      order: 0;
    }

    &__discount-img {
      order: 0;
    }

    &__discount-btn {
      padding: 25px 25px;
      margin: 0;
    }
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 490px;
  }

  .title {
    font-size: 28px;
  }

  .top {
    padding-top: 20px;

    &__box-img {
      position: static;
      margin-left: 0;
      max-width: 460px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__text {
      font-size: 16px;
      max-width: 440px;
      margin-bottom: 30px;
    }

    &__discount {
      max-width: 380px;
      margin: 0 auto;
    }

    &__discount-program {
      order: -1;
      margin-left: 6px;
    }

    &__discount-img {
      order: -1;
    }

    &__discount-btn {
      margin: 0 auto;
      padding: 25px 60px;
    }
  }

  .top-box {
    justify-content: center;

    &__item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 400px;
  }

  .title {
    font-size: 23px;
  }

  .top {
    &__discount {
      justify-content: center;
      gap: 0;
    }

    &__discount-program {
      font-size: 17px;
    }

    &__discount-img {
      max-width: 164px;
    }

    &__discount-btn {
      margin-top: 10px;
      padding: 20px 65px;
      font-size: 20px;
    }
  }

  .modal-phone {
    &__inner {
      width: 280px;
      padding: 40px 0;
    }

    &__title {
      width: 150px;
    }
  }

  .modal-discount {
    &__wrapper {
      width: 300px;
      padding: 15px;
    }

    &__img {
      left: 15px;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      font-size: 16px;
    }
  }
}

@media (max-width: 430px) {
  .container {
    max-width: 350px;
  }
}