<div class="modal-program">
  <div class="modal-program__wrapper">
    <div class="modal-program__inner">
      <div class="modal-program__box-text">
        <img class="modal-program__img-title" src="images/modal/life.svg" alt="life">
        <h5 class="modal-program__title"></h5>
        <p class="modal-program__kalory"></p>
      </div>
      <div class="modal-program__box-img">
        <img class="modal-program__img" src="images/program/life.png" alt="image-life">
      </div>
      <div class="modal-program__box-bgu">
        <div class="modal-program__box-bgu-item">
          <span class="modal-program__box-bgu-name"></span>
          <span class="modal-program__box-bgu-procent"></span>
        </div>
        <div class="modal-program__box-bgu-item">
          <span class="modal-program__box-bgu-name"></span>
          <span class="modal-program__box-bgu-procent"></span>
        </div>
        <div class="modal-program__box-bgu-item">
          <span class="modal-program__box-bgu-name"></span>
          <span class="modal-program__box-bgu-procent"></span>
        </div>
      </div>
      <img class="modal-program__logo" src="images/modal/modal-logo" alt="logo">
    </div>
    <p class="modal-program__text"></p>
    <p class="modal-program__info"></p>
    <div class="modal-program__rate">
      <div class="modal-program__rate-text"></div>
      <div class="modal-program__rate-text"></div>
      <div class="modal-program__rate-text-2"></div>
    </div>
    <div class="modal-program__buttons">
      <button class="modal-program__btn-1"></button>
      <button class="modal-program__btn"></button>
      <button class="modal-program__btn"></button>
    </div>
  </div>
</div>