<dialog class="modal-discount">
  <div class="modal-discount__wrapper">
    <img class="modal-discount__img" src="images/discount.svg" alt="20%">
    <h3 class="modal-discount__title">
      ПРОГРАМА ЗНАКОМСТВО
    </h3>
    <p class="modal-discount__text">
      Для новых клиентов мы прелагаем
      знакомство с сервисом со скидкой.
      Что бы получить скидку просто заполните форму ниже.
    </p>
    <form class="modal-discount__form">
      <label class="modal-discount__label" for="tel">
        Номер телефона*
      </label>
      <input class="modal-discount__input" type="text" placeholder="+7">
      <label class="modal-discount__label" for="name">
        Ваше имя*
      </label>
      <input class="modal-discount__input" type="text" placeholder="Ваше имя">
      <label class="modal-discount__label" for="text">
        Прогрма питания
      </label>
      <div class="modal-discount__inner">
        <select class="modal-discount__select">
          <option class="modal-discount__option" value="life">LIFE</option>
          <option class="modal-discount__option" value="sport">SPORT</option>
          <option class="modal-discount__option" value="vegetarian">VEGETARIAN</option>
          <option class="modal-discount__option" value="fit">FIT</option>
          <option class="modal-discount__option" value="health">HEALTH</option>
          <option class="modal-discount__option" value="detox">DETOX</option>
          <option class="modal-discount__option" value="medical">Медицинское питание</option>
        </select>
      </div>
      <button class="modal-discount__btn">
        Получить скидку 20%
      </button>
    </form>
  </div>
</dialog>