<dialog id="modal" class="modal-phone">
  <div class="modal-phone__inner">
    <div class="modal-phone__info">
      <h5 class="modal-phone__title">
        Оставьте ваш
        номер телефона
      </h5>
      <p class="modal-phone__subtitle">и наш оператор перезвонит вам</p>
      <img class="modal-phone__img" src="images/operator.jpg">
    </div>
    <form class="modal-phone__form">
      <p class="modal-phone__text">Номер телефона</p>
      <input class="modal-phone__input" type="phone" placeholder="+7">
      <p class="modal-phone__text">Ваше имя</p>
      <input class="modal-phone__input" type="text" placeholder="Ваше имя">
      <button class="modal-phone__btn">
        Заказать звонок
      </button>
    </form>
  </div>
</dialog>