<div class="modal-menu">
    <button class="modal-menu__close"></button>
  <div class="container-menu">
    <div class="modal-menu__inner-title">
      <h2 class="modal-menu__top-title">Настройки меню</h2>
      <p class="modal-menu__subtitle">
        Выберите нежелательные ингредиенты, и мы исключим блюда с ними из меню
      </p>
    </div>
    <div class="modal-menu__choice">
      <h3 class="modal-menu__title">Выберите предпочтения</h3>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Больше белка</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Меньше сладкого (больше сытного)</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Меньше молочного</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Меньше специй</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__allergens">
      <h3 class="modal-menu__title">Исключите аллергены</h3>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Грецкий орех</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Арахис</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Орех мускатный</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Мёд</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Горчица зернистая</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Шоколад</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Творог натуральный</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Творожные продукты</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Лук в приправах (менее 2 гр)</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__vegetables">
      <h3 class="modal-menu__title">Исключите овощи</h3>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Сельдерей</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Грибы</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Болгарский перец</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Брокколи</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Кабачки</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Картофель</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Консервированная кукуруза</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__sugar">
      <h3 class="modal-menu__title">Исключите сахар</h3>
      <div class="modal-menu__form">
        <label for="check" class="modal-menu__label">Сахар</label>
        <input id="check" class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <button class="modal-menu__btn">Применить настройки</button>
  </div>
</div>