<div class="modal-menu">
  <div class="container-menu">
    <div class="modal-menu__inner-title">
      <h2 class="modal-menu__top-title">Настройки меню</h2>
      <p class="modal-menu__subtitle">
        Выберите нежелательные ингредиенты, и мы исключим блюда с ними из меню
      </p>
    </div>
    <div class="modal-menu__choice">
      <h3 class="modal-menu__title">Выберите предпочтения</h3>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Больше белка</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Меньше сладкого (больше сытного)</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Меньше молочного</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Меньше специй</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__allergens">
      <h3 class="modal-menu__title">Исключите аллергены</h3>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Грецкий орех</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Арахис</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Орех мускатный</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Мёд</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Горчица зернистая</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Шоколад</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Творог натуральный</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Творожные продукты</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Лук в приправах (менее 2 гр)</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__vegetables">
      <h3 class="modal-menu__title">Исключите овощи</h3>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Сельдерей</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Грибы</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Болгарский перец</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Брокколи</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Кабачки</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Картофель</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Консервированная кукуруза</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <div class="modal-menu__sugar">
      <h3 class="modal-menu__title">Исключите сахар</h3>
      <div class="modal-menu__form">
        <div class="modal-menu__label">Сахар</div>
        <input class="modal-menu__input" type="checkbox">
      </div>
    </div>
    <button class="modal-menu__btn">Применить настройки</button>
  </div>
</div>