<dialog class="modal-program">
  <div class="modal-program__wrapper">
    <div class="modal-program__inner">
      <div class="modal-program__box-text">
        <img class="modal-program__img-title" src="images/modal/life.svg" alt="life">
        <h5 class="modal-program__title">НЕ ХОЧУ ГОТОВИТЬ</h5>
        <p class="modal-program__kalory">1500 ККЛ</p>
      </div>
      <div class="modal-program__box-img">
        <img class="modal-program__img" src="images/program/life.svg" alt="image-life">
      </div>
      <div class="modal-program__box-bgu">
        <div class="modal-program__box-bgu-item modal-program__box-bgu-item-1">
          <span class="modal-program__box-bgu-name">Белки</span>
          <span class="modal-program__box-bgu-procent">30%</span>
        </div>
        <div class="modal-program__box-bgu-item modal-program__box-bgu-item-2">
          <span class="modal-program__box-bgu-name">Жиры</span>
          <span class="modal-program__box-bgu-procent">30%</span>
        </div>
        <div class="modal-program__box-bgu-item modal-program__box-bgu-item-3">
          <span class="modal-program__box-bgu-name">Углеводы</span>
          <span class="modal-program__box-bgu-procent">40%</span>
        </div>
      </div>
      <img class="modal-program__logo" src="images/modal/modal-logo.svg" alt="logo">
    </div>
    <div class="modal-program__bottom">
      <p class="modal-program__text">
        LIFE-программа калорийностью 1400-1500 в день сделана специально для активных и жизнерадостных пользователей!
      </p>
      <p class="modal-program__info">
        Блюда в меню не повторяются 4 недели и меняются каждый день!
      </p>
      <div class="modal-program__rate">
        <div id="programRate" class="modal-program__rate-block">6 Приемов пищи</div>
        <div class="modal-program__rate-block">1,5 л Воды</div>
        <div class="modal-program__rate-block-x2">
          <p class="modal-program__rate-block-text">Стоимость в день от:</p>
          <p class="modal-program__rate-block-price">8000 Դ</p>
        </div>
      </div>
      <div class="modal-program__buttons">
        <button class="modal-program__btn modal-program__btn-1 discount-btn">Получить скидку 20%</button>
        <button id="ration" class="modal-program__btn">Пример рациона</button>
        <button class="modal-program__btn">Настроить меню</button>
      </div>
    </div>
  </div>
</div>