<div class="modal-mini">
    <div class="modal-mini__wrapper">
        <button class="modal-menu__close"></button>
        <a class="modal-mini__link" href="#program">
            Програмы питания
        </a>
        <a class="modal-mini__link" href="#ration">
            Примеры рациона
        </a>
        <a class="modal-mini__link" href="#questions">
            Ответы на вопросы
        </a>
        <button class="modal-mini__btn discount-btn">
            Заказать рацион
        </button>
        <a class="modal-mini__phone" href="tel:+79888608077">+7 988 860 8077</a>
        <div class="modal-mini__social-3">
            <!--=include social-icon-3.html-->
        </div>
        <p class="modal-mini__time time">9:00 - 21:00</p>
        <div class="modal-mini__social-icon">
            <!--=include social-icon.html-->
        </div>
    </div>
</div>